{% extends "_base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block body %}
  <h1>{% trans "Change Password" %}</h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" class="btn btn-primary" style="margin-bottom: 5px">{% trans "Change Password" %}</button>
    <p><a class="link-dark secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
  </form>
{% endblock body %}
