{% extends '_base.html' %}
{% load static %}
{% load django_simple_bulma %}


{% block title %}Home{% endblock title %}

{% block links %}
  {% font_awesome %}
  {% bulma %}
  <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/simple.css' %}">
{% endblock %}

{% block body %}
  <h1>Home page</h1>
  <p>this is supposed to be my portfolio :)</p>
  
  {% if repo_data %}
    <section id="projects" class="section">
      <div class="container">
        <h1 class="is-size-1">Projects</h1>
        <div class="columns is-multiline is-table">
          {% for repo in repo_data %}
          	<div class="column is-one-third-desktop is-half-tablet">
              <a href="https://github.com/{{ repo.repo_name }}">
                <article class="card">
                  <header class="card-header">
                    <span class="card-header-icon">
                      <span class="icon"><i class="fab fa-github"></i></span>
                    </span>
                    <div class="card-header-title">
                      {{ repo.repo_name|cut:"amirreza8002/" }}
                    </div>
                  </header>
                  
                  <p class="card-content">
                    {{ repo.description }}
                  </p>
                  
                  <footer class="card-footer">
                    <div class="card-footer-item">
                      <i class="repo-language-dot {{ repo.language | lower }}"></i>
                      {{ repo.language }}
                    </div>
                    <div class="card-footer-item">
                      <i class="fas fa-star"></i>
                      {{ repo.stargazers }}
                    </div>
                    <div class="card-footer-item">
                      <i class="fas fa-code-branch"></i>
                      {{ repo.forks }}
                    </div>
                  </footer>
                </article>
              </a>
            </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
  {% endif %}
{% endblock body %}
