{% extends '_base.html' %}
{% load static %}

{% block body %}
	<div>
    <div>
      <div>
        <h5>{{ todo_list.title | upper }}</h5>
      </div>
      <div>
        <div>
          <table>
            <tr>
              <th>todo</th>
              <th style="width: 40rem">description</th>
              <th>done</th>
            </tr>
          {% for item in items %}
            <tr>
              <td>{% if user.is_authenticated %}<a href="{% url 'item_update' todo_list.id item.id %}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</td>
              <td>{{ item.description }}</td>
              <td style="width: 2rem; height: 2rem">{% if item.done %}<img alt="done" src="{% static 'images/todos/tick.png' %}">{% endif %}</td>
            </tr>
          {% empty %}
            <p>There is nothing in list.</p>
          {% endfor %}
          </table>
        </div>
      </div>
      <p>
        {% if  user.is_authenticated %}
          <button type="button" onclick="location.href='{% url 'item_add' todo_list.id %}'">Add a new item</button>
          <button type="button" onclick="location.href='{% url 'list_delete' todo_list.id %}'">Delete this list</button>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}