.header_border-color, .footer_border_color {
    border-bottom-color: #ff4400;
    border-top-color: #ff4400;
}
.header_border-color:hover, .footer_border_color:hover {
    border-bottom-color: #ba3500;
    border-top-color: #ba3500;
}

.header_background_color:hover{
    background-color: #292929;
}

.nav-link {
    margin: 0 1.5rem 1rem 1.5rem;
}

.nav-link:hover {
    border-color: #687cd1;
    color: #687cd1;
}

.is-size-1 {
    border-bottom: 0.05rem dashed;
    border-bottom-color: #3f3f3f;
    margin-bottom: 4rem;
    padding-bottom: 0.3em;
}

.is-size-1:hover {
    color: white;
}

.django-name, .django-name:visited {
    color: #ababab;
    text-decoration: none;
}
.django-name:hover {
    color: darkgreen;
}