{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}my site{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block links %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
  </head>

<body>
  <header>
     {% block header %}
       <h2><a style="text-decoration: none" href="{% url 'home' %}">Home</a></h2>
       <h3><a style="text-decoration: none" href="{% url 'post_list' %}">Blog</a></h3>
       <h4><a style="text-decoration: none" href="{% url 'todo_list' %}">Todo list</a> </h4>
    {% endblock %}  
  </header>    
  
  <main>
    {% block body %}
      <p>body</p>
    {% endblock body %}
  </main>
  
  <footer>
    {% block footer %}
      <p>built with django</p>
    {% endblock %}
  </footer>
</body>

</html>
