{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}my site{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024" />
    {% block links %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>

<body>
  <header class="header_border-color header_background_color">
     {% block header %}
       <nav style="display: inline-flex">
         <h4><a class="nav-link" href="{% url 'home' %}">Home</a></h4>
         <h4><a class="nav-link" href="{% url 'post_list' %}">Blog</a></h4>
         <h4><a class="nav-link" href="{% url 'projects' %}">Projects</a></h4>
         <h4><a class="nav-link" href="{% url 'todo_list' %}">Todos</a></h4>
         <h4><a class="nav-link" href="{% url 'about' %}">About</a></h4>
       </nav>
    {% endblock %}
  </header>

  <main>
    {% block body %}
      <p>body</p>
    {% endblock body %}
  </main>

  <footer class="footer_border_color footer_margin_bottom">
    {% block footer %}
      <div>
        <p>built with <a class="django-name" href="https://www.djangoproject.com/"><i>django</i></a></p>
      </div>
    {% endblock %}
  </footer>
</body>

</html>

